{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="vh-adjusted-section bg-image"
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body-auth card-body p-5">
              <h2 class="text-auth-logo text-auth text-uppercase text-center mb-5">LOGIN</h2>

              <form id="form-id">

                <div class="form-outline mb-4">
                  <input name="username" id="username" type="text" class="form-control form-control-lg" />
                  <label class="text-auth form-label" for="form3Example3cg">Username</label>
                </div>

                <div class="form-outline mb-4">
                  <input name="password" id="password" type="password" class="form-control form-control-lg" />
                  <label class="text-auth form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="button" id="btn-submit"
                    class="btn-auth text-auth btn btn-success btn-block btn-lg gradient-custom-4 ">Login</button>
                </div>

                <p class="text-auth text-center mt-5 mb-0">No account? <a href="{% url 'account:register' %}"
                    class="fw-bold text-body"><u>Registration</u></a></p>
                <span id="error-message" class="error"></span>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  async function loginForm(event){
    const form = document.querySelector('#form-id'); // Замените на идентификатор вашей HTML-формы
    const errorMessage = document.querySelector('#error-message');
    const formData = new FormData(form);
    const url = 'http://127.0.0.1:8000/account/login_api/';
    try {
      const response = await fetch(url, {
        method: 'POST',
        body: formData,
      });
      
      if (response.ok) {
        const data = await response.json();
        const token = data.token;
        localStorage.setItem('authToken', token);
        
      } else {
        const data = await response.json();
        errorMessage.textContent = data.error;
      }

    } catch (error) {
      console.error('Error:', error);
      errorMessage.textContent = 'Error, please try again.';
    }
  }
  document.addEventListener("DOMContentLoaded", function() {
    const submitButton = document.querySelector('#btn-submit')
    submitButton.addEventListener('click', function (e) {
      e.preventDefault();
      loginForm(e);
    });
  });
</script>
{% endblock %}
