{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-8">
      <h2>Last saved images</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="https://picsum.photos/500/500" class="card-img-top" alt="Image">
            <div class="card-body">
              <h5 class="card-title">Image title</h5>
              <p class="card-text">Description</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h2>Recommended boards</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <img src="https://picsum.photos/200/200" class="card-img-top" alt="Board">
            <div class="card-body">
              <h5 class="card-title">Board name</h5>
              <p class="card-text">Board description</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}