{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1 class="mt-4 mb-4 topic">Pins</h1>
        <div class="row">
            {% for pin in pins %}
                <div data-aos="zoom-in-up" class="col-md-4 mb-3 clickable-div">
                    <a href="{% url 'imageStoreApp:pin_detail' pin.id pin.image_info.id %}">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'images/' %}{{ pin.image_info.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ pin.title }}</h5>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}