{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container div-pin">
    <div class="div-pin-detail row">
        <div class="col-md-6">
            <img src="{% static 'images/' %}{{ image.name }}" alt="{{ pin.title }}" class="img-pin img-fluid">
        </div>
        <div class="div-pin-info col-md-6">
            <h5>Some info about pin</h5>
            <h2>{{ pin.title }}</h2>
            <p>Author: {{ pin.author }}</p>
            <p>Description: {{ pin.description }}</p>
            <p>Tags: {% for tag in tags %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            <h6>Comments</h6>
        </div>
    </div>
</div>

<div class="container">
    <h3 class="div-pin-info mt-4">Same pins:</h3>
    <div class="row">
        {% for similar_pin in similar_pins %}
            <div data-aos="zoom-in-up" class="col-md-4 mb-3 clickable-div">
                <a href="{% url 'imageStoreApp:pin_detail' similar_pin.id similar_pin.image_info.id %}">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="{% static 'images/' %}{{ similar_pin.image_info.name }}" alt="{{ similar_pin.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ similar_pin.title }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}