{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-8">
      <h2>Your pins</h2>
      <div class="row">
        {% for pin in pins %}
          <div class="col-md-4">
            <a href="{% url 'imageStoreApp:pin_detail' pin.id pin.image_info.id %}">
              <div class="card">
                <img src="{% static 'images/' %}{{ pin.image_info.name }}" class="card-img-top" alt="{{ pin.title }}">
                <div class="card-body">
                  <h5 class="card-title">{{ pin.title }}</h5>
                  <p class="card-text">{{ pin.description }}</p>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4">
      <h2>Your boards</h2>
      <div class="row">
        {% for board in boards %}
          <div class="col-md-6">
            <a href="{% url 'imageStoreApp:board_detail' board.id %}">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ board.title }}</h5>
                  <p class="card-text">{{ board.description }}</p>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock %}